<div
  style="
    background-image: url('/assets/images/kodokanGualdoSfondo.jpg');
    width: 100%;
    height: 1024px;
  "
>
  <div>
    <button
      style="
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 20pt;
        color: red;
      "
    >
      Pagina degli eventi
    </button>
    <navigation-bar></navigation-bar>
  </div>

  <div style="margin-left: 150px; margin-top: 150px">
    <table class="eventi-td-giorno">
      <tr>
        <td><div (click)="doPrec()" class="kg-eventi-arrow">Ind</div></td>
        <td style="border: 2px solid" colspan="5">{{ meseCorrenteNome }}</td>
        <td><div (click)="doSucc()" class="kg-eventi-arrow">Av</div></td>
      </tr>

      <tr>
        <td>lu</td>
        <td>ma</td>
        <td>me</td>
        <td>gi</td>
        <td>ve</td>
        <td>sa</td>
        <td>do</td>
      </tr>
      <tr *ngFor="let calendSett of calendMese">
        <td *ngFor="let caledGG of calendSett">
          {{ caledGG.giorno !== 0 ? caledGG.giorno : "" }}
        </td>
      </tr>
    </table>
  </div>
</div>
