.eventi-testata {
  vertical-align: top;
  height: 10%;
}

.eventi-marchio {
  width: 30%;
  vertical-align: top;
}
.eventi-navbar {
  vertical-align: middle;
  width: 70%;
}

.eventi-immagine {
  align-items: center;
  padding: 15px;
}
