.tabella {
  font-family: LeagueSpartanMedium;
  font-size: 18pt;
}

.tabella button {
  margin: 15px 25px;
  padding: 10px;
  border: 0px;
  font-family: LeagueSpartanMedium;
  font-size: 18pt;
  color: orange;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

.tabella button:hover {
  background-color: orange;
  color: white;
}
