.kg-button-nav {
  margin: 15px 25px;
  padding: 10px;
  border: 0px;
  font-family: LeagueSpartanMedium;
  font-size: 20pt;
  color: #d0661c;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

.kg-button-nav:hover {
  background-color: #d0661c;
  color: white;
}
