<table class="tabella">
  <tr>
  <td colspan="2" text align="center">BOTTONI DEL SITO</td>
  </tr>
  <td> Barra di navigazione</td>
    <td><button class="bottone1">Info corsi</button></td>
  <tr> 
    <td>Bottone indicativo bianco</td>
    <td><button class="bottone2">QUANDO</button></td>
  </tr>
  <tr> 
    <td>Bottone indicativo arancio</td>
          <td><button class="bottone3">FACEBOOK</button></td>
  </tr>
  <tr>
    <td>Link ad altra pagina</td>
    <td><button class="bottone4">Area Tesserati</button></td>
  
  </tr>

</table>