.kg-calendar {
  border-spacing: 0 px;
  vertical-align: top;
}

.kg-calendar tr td {
  width: 70px;
  height: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24pt;
  text-align: center;
  vertical-align: middle;
  color: white;
}

.kg-calendar-anno-mese {
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28pt;
  text-align: center;
  border-spacing: 0px;
  color: orangered;
}
.kg-calendar-arrow {
  cursor: pointer;
  font-size: 36px;
  font-style: normal;
  color: orangered;
}

.classea {
  border-radius: 50%;
}

.classeb {
  background-color: red;
  border-radius: 50%;
  cursor: poniter;
}

.classec {
  background-color: yellow;
  border-radius: 50%;
  cursor: poniter;
}
